/* Fonts */

@font-face {
	font-family: 'Instrument Serif';
	src: url('/fonts/InstrumentSerif-Italic.woff2') format('woff2'),
		url('/fonts/InstrumentSerif-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Instrument Serif';
	src: url('/fonts/InstrumentSerif-Regular.woff2') format('woff2'),
		url('/fonts/InstrumentSerif-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

a {
	color: #290f62;
	border-bottom: 1px dashed #290f62;
	text-decoration: none;
}

body {
	color: #290f62;
	background-image: url('/bg.webp');
	/* Backup */
	/* background: rgb(123, 255, 94);
	background: linear-gradient(0deg, rgb(195, 255, 13) 0%, rgb(63, 234, 240) 100%); */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100dvh;
	background-attachment: fixed;
	font-family: 'Instrument Serif', serif;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
}

p {
	font-size: 1.5rem;
}

.img-gallery {
	border: 6px solid white;
	box-shadow: #3411fd 10px 0px 100px 10px;
	width: 200px;
	opacity: 0;
	animation-iteration-count: 1;
	animation-name: fadeInOpacity;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.gallery-caption {
	text-align: center;
	z-index: 100;
	cursor: pointer;
	transition: opacity 0.2s ease-in-out;
	font-size: 1.5em;
}

.gallery {
	height: 80vh;
	margin: 5em;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('/cloud.gif');
	-webkit-transition: background 1.5s linear;
	-moz-transition: background 1.5s linear;
	-o-transition: background 1.5s linear;
	-ms-transition: background 1.5s linear;
	transition: background 1.5s linear;
}
.splash {
	cursor: pointer;
}
.form {
	position: fixed;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;
}

@media (max-width: 768px) {
	.img-gallery {
		width: 100px;
	}
	p {
		font-size: 1rem;
	}
	.gallery-caption {
		font-size: 1rem;
	}
	.gallery {
		height: 80vh;
		margin: 1em;
	}
}

@keyframes float {
	0% {
		transform: translateY(-10px);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(-10px);
	}
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
